    .christmas-container {
      margin: auto;
      border-radius: 3px;
      text-align: center
    }

    .christmas-container h2 {
      color: #fff;
      font-size: 30px;
      font-family: tahoma;
      padding: 50px 0 20px;
      font-weight: normal
    }

    .christmas-container .content {
      width: 100%;
    }

    .christmas-container .content>div {
      display: inline-block;
      width: 75px;
      background: #1E792C;
      border-radius: 5px;
      color: #fff;
      font-family: tahoma;
      font-size: 55px;
    }

    .christmas-container .title {
      width: ;
      height: 50px;
      position: relative
    }

    .christmas-container .title span {
      display: inline-block;
      width: 75px;
      font-size: 20px;
      font-family: tahoma;
      color: #fff;
      line-height: 50px;

    }

    .santa-table {
      display: flex;
      margin-top: 10px;
    }

    .santa-table .side-santa {
      position: relative;
      width: 130px;
      left: 60px;
    }

    .christmas-loan-table {
      border-collapse: collapse;
      width: 100%;
    }

    .christmas-loan-table td,
    .christmas-loan-table th {
      border: 1px solid #ddd;
      padding: 8px;
    }

    .christmas-loan-table tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    .christmas-loan-table tr:nth-child(odd) {
      background-color: #1E792C;
    }

    .christmas-loan-table tr:hover {
      background-color: #D6001C;
      ;
    }

    .christmas-loan-table th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: center;
      background-color: #1E792C;
      ;
      color: white;
