.gfm-embed {
	width: fit-content;
	margin: auto;
}

.gfm-embed iframe {
	width: auto;
}

.snowfall-section {
  background: linear-gradient(rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)), url(mitten_tree.jpg);
  background-position-y: 75%;
  background-size: cover;
  width: 100%;
  padding: 20px;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.mitten-logo {
  width: 13%;
  margin: auto;
}

.snow1 {
  background: url(snow.png);
  pointer-events: none;
  background-repeat: repeat;
  width: 100%;
  height: 700px;
  position: absolute;
  top: 0;
  left: 0;
  animation: snowOne 10s infinite linear;
}

.snow2 {
  background: url(snow.png);
  pointer-events: none;
  background-repeat: repeat;
  width: 100%;
  height: 700px;
  position: absolute;
  top: 0;
  left: 0;
  animation: snowTwo 10s infinite linear;
  background-size: 300px;
  filter: blur(1px);
}

.snow3 {
  background: url(snow.png);
  pointer-events: none;
  background-repeat: repeat;
  width: 100%;
  height: 650px;
  position: absolute;
  top: 0;
  left: 0;
  animation: snowThree 10s infinite linear;
  background-size: 800px;
  filter: blur(2px);
}

@keyframes snowOne {
  0% {
    background-position: 0px 0px;
  }

  100% {
    background-position: 100px 750px;
  }
}

@keyframes snowTwo {
  0% {
    background-position: 0px -100px;
  }

  100% {
    background-position: 0px 750px;
  }
}

@keyframes snowThree {
  0% {
    background-position: 0px 100px;
  }

  100% {
    background-position: 300px 750px;
  }
}