.ny-section {
  background: linear-gradient(rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)), url(mitten_tree.jpg);
  background-position-y: 75%;
  background-size: cover;
  width: 100%;
  padding: 20px;
  position: relative;
  overflow: hidden;
  text-align: center;
}